*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


body{
    background: #f2f2f2;
    font-family: 'Poppins', sans-serif;
}

.contenedor{
    margin: 0 auto;
    width: 60%;
}

.comentarios{
    background: white;
    padding: 50px;
    border-radius: 10px;
    border-top: 10px solid #7afa7a;
    margin-top: 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3   );
}

h2{
    color: #1fd660;
    border-bottom: 1px solid #c8f3d8;
}

.comentarios .comentario{
    padding: 20px;
    border-bottom: 1px solid #f2f2f2;
}
.comentario .comentario span{
    font-weight: bold;    
}

.comentario .comentario .cocalificacion{
    padding: 10px;
    margin-left: 5px;
}

.comentarios .comentario .acciones{
    padding: 10px 0;
    text-align: right;
}

.comentarios .comentario button{
    padding: 10px 15px;
    border: none;
    border-radius: 2px;
    color: #fff;
    transition: ease .3s all;
    margin: 0 10px;
}
/*Establecerle clases a los botones*/

/*estilo cuando pasemos el puntero sobre el boton*/
.comentarios .comentario button:hover{
    transform: scale(1.1);

}

.comentarios .comentario .borrar{
    background: #f54040;
    border: none;
    border-radius: 3px;
}

.comentarios .comentario .editar{
    background: #2c68fd;
}

.btn-add{
    position: fixed;
    bottom: 30px;
    right: 40px;
}

.btn-add i{
    color:#1fd660;
    font-size: 50px;
    text-shadow: 0 0 2px rgba(0, 0, 0, .3);
    transition: ease .3s all;
}


span{
    color: blue;
    font-weight: bold;
}

/**Estilos para mensajes de correctos y errores*/
.error{
    background: #fe6969;
    padding: 20px;
    margin: 20px;
    color: #fff;
}
.success{
    background: #1FD660;
    padding: 20px;
    margin: 20px;
    color: #fff;
}

/*Estilo de formulario*/
.formulario{
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
}
.formulario input[type=text]{
    width: 100%;
    padding: 12px;
    border-radius: 2px;
    border: 1px solid #CBCBCB;
}
.formulario textarea{
    width: 100%;
    padding: 12px;
    border-radius: 2px;
    border: 1px solid #CBCBCB;
}
.formulario label{
    width: 100%;
    display: block;
    margin: 5px 0;
}
.formulario input[type=radio]{
    margin: 0 15px 0 15px;
}
.formulario input[type=submit]{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 2px;
    border:none;
    background: #1FD660;
    color: #fff;
    transition: all .3s ease;
}
.formulario input[type=submit]:hover{
    transform: scale(1,1);
}